@import url(@vc/style.css);

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  color: var(--primary-color);
  background-color: var(--primary-background-color);
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: auto;
}